/* $Id: block-editing.css,v 1.2.2.1 2009/11/05 14:00:50 johnalbin Exp $ */

/*
 * Rollover edit links for blocks
 */

div.block.with-block-editing{
  position: relative;
}

div.block.with-block-editing div.edit{
  background-color:#000000;
  display:none;
  font-size:0.75em;
  padding:0 0;
  position:absolute;
  right:0;
  top:-7px;
  z-index:40;
}

div.block.with-block-editing:hover div.edit{
  display: block;
}

div.block.with-block-editing a{
  color:#fff;
  text-decoration:none;
}