.taxonomy-header .pane-content{
  background:#000;
  position:relative;
  min-height:90px;
}
.taxonomy-header .pane-content p{
  color:#FFFFFF;
  display:block;
  font-size:30px;
  font-weight:bold;
  left:0;
  line-height:40px;
  padding:0 20px;
  position:absolute;
  top:25px;
  width:100%;
}