.node-product{min-height:500px;}
.node-product .node-inner{
  padding:20px;
}

.node-product .section {
  margin:15px 0 25px;
}
.node-product .header{
  border-top:1px #666 solid;
  background:#444;
  background:-moz-linear-gradient(
    center top,
    rgb(68,68,68) 0%,
    rgb(10,10,10) 90%
    );
  background:-webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgb(68,68,68)),
    color-stop(90%, rgb(10,10,10))
    );
}
.node-product .header-inner{
  padding:10px;
}
.node-product .header .found{
  font-size:10px;
  color:#aaa;
}

.node-product h1{
  font-size:33px;
  line-height:30px;
  color:#fff;
  margin-bottom:10px;
}

.node-product .column{float:left;margin-top:10px;}
.node-product .column-left{width:300px;}
.node-product .column-left .column-inner{padding-right:48px;}
.node-product .column-right{width:652px;}

.node-product .price{
  font-size: 22px;
  color:#FFF;
  display:inline-block;
  padding:4px 13px 6px;
  -moz-border-radius:8px;
  -webkit-border-radius:8px;
  border-radius:8px;
  background-color:#296B97;
  background:-moz-linear-gradient(
    center top,
    #296B97 0%,
    #1A4562 90%
    );
  background:-webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #296B97),
    color-stop(90%, #1A4562)
    );
}

/*Debug rules*/
/*.tabs{display:none;}*/